$mobile-resolution-min-width: 320px;
$mobile-resolution-max-width: 767px;

$mobile-xs: 320px;
$mobile-sm: 375px;   // iPhone SE, iPhone 12 mini
$mobile-md: 414px;   // iPhone 12 Pro Max
$mobile-lg: 480px;
$tablet-breakpoint: 768px;
