<div class="label-container">
    <div class="label-container__inner">
        <div class="label-container__inner__circle">
            <img [src]="labelConfiguration().image" 
            alt="label-image" 
            class="label-container__inner__circle__image">
        </div>
        <input 
        [type]="labelConfiguration().type"
        matInput 
        (input)="handleLabelInput($event)" 
        autocomplete="off" 
        [placeholder]="labelConfiguration().name"
        class="label-container__inner__input"/>
    </div>
</div>