@use './partials/colors' as colors;
@use './partials/variables' as variables;
@use './partials/fonts' as fonts;
@use './partials/mixins' as mixins;
@use './partials/media-queries' as media;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: fonts.$font-family-base;
  color: colors.$white;
}